<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>*INTEGRITY❤BANK*</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>

</head>

<body>

<th:block th:include="mainboard"></th:block>

<h2>Transactions</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Time Of Transaction</th>
        <th>Money Transferred From Account</th>
        <th>Money Transferred To Account</th>
        <th>Amount Of Money</th>
    </tr>
    <tr th:each="transaction : ${transaction}">
        <td th:utext="${transaction.id}">..</td>
        <td th:utext="${transaction.timeOfTransaction}"></td>..</td>
        <td th:utext="${transaction.transferMoneyFromAccount}">..</td>
        <td th:utext="${transaction.transferMoneyToAccount}">..</td>
        <td th:utext="${transaction.amountOfMoneyTransferred}">..</td>
    </tr>
</table>
<hr>
<p>If you see "Transfer Money From Account" equals  0 - money was added</p>
<p>If you see "Transfer Money To Account" equals  0 - money was withdrawn</p>
<hr>
</body>
</html>
